@keyframes fadein {
  from { 
    opacity: 0; /*not visable*/
  }
  to {
    opacity: 1; /*visable*/
  }
}


.clearfix {
  clear: both;
}

.box {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 3px;
  margin-top: 3px;
  animation: fadein 1s;
}

.box:hover {      /*makes my boxes disappear when moused over*/
  opacity: 0;
}

.blue {
  background-color: #3980c6;
  opacity: .7;
}

.teal {
  background-color: teal;
}

.cream {
  background-color: #edece6;
}

.green {
  background-color: #20825e;
}

.silver {
  background-color: #c0c0c0;
}

/*predefined styles for my JS code*/